In [1]:
import numpy as  np
import pandas as pd

In [2]:
df_first_health=pd.read_csv('C:/Users/KSK/Downloads/analytics vidya hack/Train/First_Health_Camp_Attended.csv')

In [3]:
df_second_health=pd.read_csv('C:/Users/KSK/Downloads/analytics vidya hack/Train/Second_Health_Camp_Attended.csv')

In [4]:
df_third_health=pd.read_csv('C:/Users/KSK/Downloads/analytics vidya hack/Train/Third_Health_Camp_Attended.csv')

In [5]:
print(df_first_health.shape,df_second_health.shape,df_third_health.shape)

(6218, 5) (7819, 3) (6515, 4)

In [6]:
df_first_health.head()

   Patient_ID  Health_Camp_ID  Donation  Health_Score  Unnamed: 4
0      506181            6560        40      0.439024         NaN
1      494977            6560        20      0.097561         NaN
2      518680            6560        10      0.048780         NaN
3      509916            6560        30      0.634146         NaN
4      488006            6560        20      0.024390         NaN

In [7]:
df_first_health=df_first_health[['Patient_ID','Health_Camp_ID','Health_Score']]

In [8]:
df_first_health=df_first_health.rename(columns={'Health_Score':'outcome'})

In [16]:
df_first_health.head()

   Patient_ID  Health_Camp_ID   outcome
0      506181            6560  0.439024
1      494977            6560  0.097561
2      518680            6560  0.048780
3      509916            6560  0.634146
4      488006            6560  0.024390

In [20]:
df_second_health.head()

   Patient_ID  Health_Camp_ID  Health Score
0      526631            6536      0.875136
1      509122            6536      0.755700
2      498864            6536      0.673181
3      515398            6536      0.722041
4      504624            6536      0.464712

In [23]:
df_second_health=df_second_health.rename(columns={'Health Score':'outcome'})

In [24]:
df_second_health.head()

   Patient_ID  Health_Camp_ID   outcome
0      526631            6536  0.875136
1      509122            6536  0.755700
2      498864            6536  0.673181
3      515398            6536  0.722041
4      504624            6536  0.464712

In [12]:
df_third_health.head()

,Patient_ID,Health_Camp_ID,Number_of_stall_visited,Last_Stall_Visited_Number
0,517875,6527,3,1
1,504692,6578,1,1
2,504692,6527,3,1
3,493167,6527,4,4
4,510954,6528,2,2

In [25]:
df_third_health=df_third_health[['Patient_ID','Health_Camp_ID','Number_of_stall_visited']]

In [28]:
df_third_health=df_third_health[df_third_health['Number_of_stall_visited']>0]

In [29]:
df_third_health=df_third_health.rename(columns={'Number_of_stall_visited':'outcome'})

In [30]:
print(df_first_health.shape,df_second_health.shape,df_third_health.shape)

(6218, 3) (7819, 3) (6497, 3)

In [31]:
df_all_camps=pd.concat([df_first_health,df_second_health,df_third_health])

In [32]:
df_all_camps.head()

   Patient_ID  Health_Camp_ID   outcome
0      506181            6560  0.439024
1      494977            6560  0.097561
2      518680            6560  0.048780
3      509916            6560  0.634146
4      488006            6560  0.024390

In [35]:
df_all_camps['outcome']=1

In [36]:
df_all_camps.shape

(20534, 3)

In [42]:
df_train=pd.read_csv('C:/Users/KSK/Downloads/analytics vidya hack/Train/train.csv')

In [43]:
df_train.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [44]:
df_train.shape

(75278, 8)

In [45]:
df_train=df_train.merge(df_all_camps,on=['Patient_ID','Health_Camp_ID'],how='left')

In [46]:
df_train.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome
0,489652,6578,10-Sep-05,4,0,0,0,2,1.0
1,507246,6578,18-Aug-05,45,5,0,0,7,NaN
2,523729,6534,29-Apr-06,0,0,0,0,0,1.0
3,524931,6535,07-Feb-04,0,0,0,0,0,NaN
4,521364,6529,28-Feb-06,15,1,0,0,7,1.0

In [47]:
df_train['outcome']=df_train['outcome'].fillna(0).astype('int')

In [49]:
df_train.to_csv('C:/Users/KSK/Downloads/analytics vidya hack/Train/train_final1.csv',index=False)